@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Makinac";
  src: url("./fonts/Makinac.otf") format("opentype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "Futura Medium";
  src: url("./fonts/futura-medium-bt.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Bold";
  src: url("./fonts/futur.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree Black";
  src: url("./fonts/Figtree-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree Regular";
  src: url("./fonts/Figtree-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree Bold";
  src: url("./fonts/Figtree-Bold.ttf") format("truetype");
}



body {
  @apply w-full;
  @apply h-full;
  @apply antialiased;
  overflow-x: hidden;
  font-family: "Figtree Regular";
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Figtree Black" !important;
  letter-spacing:  0.02em;
}

h2 {
  font-family: "Figtree Bold";
  letter-spacing: 0.01em;
}