@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Makinac";
  src: url("./fonts/Makinac.otf") format("opentype");
  /* font-weight: bold; */
}

body {
  @apply w-full;
  @apply h-full;
  @apply antialiased;
  overflow-x: hidden;
  /* @apply prose max-w-none mt-0 mb-0; */
  font-family: "prose";
}

a {
  text-decoration: none;
}